h1 Обновлен статус заявки на сайте CryptoChange.com
p Статус заявки №#{id} изменен на #{status}
p Для подробной информации перейдите на сайт CryptoChange.com
p Благодарим Вас за использование нашего сервиса