head
  block title
    title CryptoChange | Управление
  block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    
  block styles
    link(rel='icon', type='image/png', sizes='16x16', href='/admin/assets/images/favicon.png')
    link(href='/admin/assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/admin/css/style.css', rel='stylesheet')
    // You can change the theme colors from here
    link(href='/admin/css/colors/blue.css', rel='stylesheet')
    link(href='/admin/css/bootstrap-multiselect.css', rel='stylesheet')
    link(href='/admin/css/code/github.css', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css', rel='stylesheet')
    link(href='/admin/css/app.css', rel='stylesheet')