block scripts
  script(src='/js/bundle.js')
  script(src='/admin/assets/plugins/bootstrap/js/tether.min.js')
  script(src='/admin/assets/plugins/bootstrap/js/bootstrap.min.js')
  // slimscrollbar scrollbar JavaScript
  script(src='/admin/js/jquery.slimscroll.js')
  // Wave Effects
  script(src='/admin/js/waves.js')
  // Menu sidebar
  script(src='/admin/js/sidebarmenu.js')
  // stickey kit
  script(src='/admin/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')
  // Custom JavaScript
  script(src='/admin/js/custom.min.js')
  // ==============================================================
  // This page plugins
  // ==============================================================
  // Flot Charts JavaScript
  script(src='/admin/assets/plugins/flot/jquery.flot.js')
  script(src='/admin/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js')
  script(src='/admin/assets/plugins/jquery.flot.time.js')
  script(src='/admin/js/flot-data.js')
  script(src='/admin/js/bootstrap-multiselect.js')
  script(src='/admin/js/highlight.pack.js')
  script(src='/admin/js/jquery.tablesorter.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js')
  script(src='/admin/js/app.js')