.col-md-6.col-4.align-self-center
  if (status)
    a.btn.pull-right.hidden-sm-down.btn-success(href='/admin/switch') Работает
  else
    a.btn.pull-right.hidden-sm-down.btn-info(href='/admin/switch') Работа приостановлена