#modal-autofill.modal.fade(role='dialog')
  .modal-dialog.autofill
    .modal-content
      .modal-header
        button.close(data-dismiss='modal') ×
        h4.modal-title Выберите реквизиты для подстановки
      .modal-body
        a(data-dismiss='modal') 4281 3212 8232 2328        
        a(data-dismiss='modal') 4221 2812 2552 5116