#modal-error.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal') ×
        h4.modal-title.text.text_type-margin-bottom-medium Ошибка
      .modal-body что-то некорректно
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') Закрыть