#modal-order-details.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal') ×
        h4.modal-title.text.text_type-margin-bottom-medium Информация по заявке №594a7637ccaa4f11649878f4      
        .table-wrapper
          table.table.table_type-3
              td №594a7637ccaa4f11649878f4
              td Заявка выполнена
              td 25.05.2017 16:25          
        h4.text.text_type-align-center.text_type-margin-bottom-big Обмен Сбербанк на Биткоин
        .table-wrapper
          table.table.table_type-2
            tr 
              td Номер карты Visa: 4212 3218 1238 2382
            tr 
              td Ф.И.О: Иванов Иван Иванович
            tr 
              td Bitcoin адрес: x9SsdjkasdjhAHSdsh12d
        .table-wrapper
          table.table.table_type-2.table_type-text-align-center.table_type-border-none
            tr
              td
                b Вы отдаете: 500 РУБ.           
              td
                b Вы получаете: 0.00263521 BTC        
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') Закрыть