extends ../layouts/main.pug
block content
  .content
    .text-block
      h1.text.text_type-margin-bottom-big Несколько правил для безопасного хранения криптовалюты
      p Вопрос о том, как безопасно хранить Биткоины, не теряет актуальности. Большинство пользователей уже традиционно размещают цифровые бумажники на онлайн-сервисах. Но не следует забывать о рисках, сопряженных с выбором этого варианта. Ведь нельзя исключать хакерского нападения на платформу. Кроме того, известны случаи, когда основатель проекта попросту исчезал, прихватив с собой сбережения клиентов.
      h3.text.text_type-margin-bottom-medium Основы безопасного хранения
      p  Опытные пользователи рекомендуют использовать для хранения Биткоинов офлайн-кошельки. Но имеется ряд условий:
      ul
        li Необходимо подобрать максимально сложное значение пароля, предназначенного для входа в цифровой кошелек. Не рекомендуется использовать эти символы для посещения других ресурсов.
        li Желательно сохранить сложный пароль на бумажном носителе. Ведь если пользователь забудет его, то он утратит доступ к накоплениям.
        li Компьютер, на котором установлен цифровой бумажник, должен быть надежно защищен при помощи антивирусной программы. Кроме того, нужно следить за постоянным обновлением программного обеспечения.
        li Если у пользователя имеется немалое количество монет, то вопросу, где лучше хранить Биткоины, следует уделить особое внимание. Оптимальным вариантом для их сбережения станет компьютер, не имеющий выхода в Интернет.       
      p Таким образом, показатели индекса волатильности Биткоина зависят от значительного количества факторов, имеющих политический, экономический и социальный характер.
      h3.text.text_type-margin-bottom-medium Еще несколько правил
      p Первым правилом криптовалютного инвестора является диверсификация рисков. Другими словами, пользователю нужно разместить имеющиеся активы в несколько виртуальных хранилищ. Для краткосрочного сбережения оптимальным вариантом будет мобильный бумажник или онлайн-кошелек. Но не стоит аккумулировать на них слишком крупные суммы, ведь смартфон можно потерять, а онлайн-хранилище является излюбленным объектом для атаки хакеров. Поэтому основной запас Биткоинов рекомендуется хранить на более защищенном клиенте.
      p Уникальным свойством цифрового кошелька является возможность его резервного копирования. При этом файл бумажника следует сохранить на другом компьютере, флешке или диске. Такой подход гарантирует, что даже при поломке оборудования, на котором хранится кошелек или его утере, пользователь все равно сохранит накопления. Для восстановления доступа к монетам необходимо загрузить клиент на другое устройство, и скопировать файл бумажника. При утере или похищении компьютера желательно создать новый адрес и перевести на него деньги. Выполнение этих несложных правил хранения криптовалют поможет обеспечить безопасность Биткоинов.
      .text.text_type-align-center
        a(href='/help') Вернуться на страницу "Помощь"
block sidebar
  include ../includes/balance