extends ./layouts/main.pug
block content
  .content
    .text-block
      h1.text.text_type-margin-bottom-big Гарантии обменного сервиса
      p Уважаемые клиенты, мы работаем для Вас с 2016 года. За это время мы зарекомендовали себя как надежный и качественный партнер обменник по конвертации криптовалюты биткоин и электронных валют. Круглосуточная тех.поддержка и выгодные курсы - это залог взаимовыгодных и доверительных отношений с нашими клиентами. Ниже предоставлены интернет ресурсы, на которых Вы можете ознакомиться с положительными отзывами о нашей работе :
      img(src='assets/imgs/temp.png')
block sidebar
  include ./includes/balance