extends ./layouts/main.pug
block content
  .content
    .text-block
      h1.text.text_type-margin-bottom-big Партнёрам - зарабатывайте с нами на реферальных выплатах.
      p Уважаемые клиенты, предлагаем Вам принять участие в нашей реферальной программе и получить дополнительный доход. Каждый пользователь, пригласивший к сотрудничеству нового клиента, получает указанный ниже процент прибыли обменного сервиса cryptochange.com. Кроме того, доход начисляется и за пользователей, привлеченных рефералом.
      .alert-block
        .button Страница файла курсов
      br
      h2.text.text_type-margin-bottom-big Реферальное вознаграждение нашим партнерам начисляется по следующей схеме:
      ul
        li 0,6% от общей суммы успешно обработанных заявок рефералов первого уровня, то есть клиентов, приглашенных непосредственно самим пользователем.
        li 0,2% от общей суммы успешно обработанных заявок пользователей, приглашенных  рефералом.         
      p 
        | Вознаграждение не начисляется за обменные операции, за выполнение которых сервис не получает прибыли. Под такими операциями подразумеваются обменные операции с доплатой от нашего сервиса. Чтобы начать сотрудничать с нами в качестве партнера, необходимо произвести регистрацию. После завершения регистрации, Вы получите доступ в личный кабинет. На электронную почту, указанную при регистрации, также будут отправлены реквизиты для входа в кабинет. Все рекламные продукты и прочие промо материалы можно найти в личном кабинете в разделе Партнерская программа. Для наших партнеров подготовлено множество рекламных баннеров разных размеров, которые Вы сможете использовать на своем ресурсе для привлечения новых пользователей. 
        br
        b *Размещение рекламных материалов сервиса cryptochange.com на хайпах, пирамидах, буксах и схожих с ними ресурсах, запрещена администрацией нашего обменника. Убедительная просьба соблюдать данное правило, во избежании блокировки партнерсокго аккаунта.Спасибо за понимание.
      h2.text.text_type-margin-bottom-big Накопительная система скидок:
      p На нашем сайте также действует накопительная система скидок для наших клиентов . Размер скидки зависит от объема успешно совершенных обменов. Причем будут учитываться все платежи, выполненные определенным пользователем. Каждый новичок, зарегистрировавшись на обменнике cryptochange.com, автоматически получает скидку в размере 0,05%. Для начисления скидки, Вам необходимо авторизоваться на сайте перед началом обмена - это скидка на общую сумму заявки, то есть если Вы обмениваете 100 тысяч рублей, то скидка при первом же обмене после регистрации будет составлять 50 рублей. В дальнейшем ее размер растет по мере увеличения объёма  успешно выполненных обменов. Информацию о критериях ее увеличения Вы можете увидеть в таблице ниже:      
      .table-wrapper
        table.table.table_type-2
          tr
            th От
            th До
            th Процент
          tr
            td 0
            td 300
            td 0.05%
          tr
            td 300
            td 500
            td 0.06%
          tr
            td 500
            td 1000
            td 0.07%
          tr
            td 1000
            td 2000
            td 0.08%
          tr
            td 2000
            td 3000
            td 0.09%
          tr
            td 3000
            td 5000
            td 0.1%
          tr
            td 5000
            td 10000
            td 0.11%
          tr
            td 10000
            td 20000
            td 0.12%
          tr
            td 20000
            td 40000
            td 0.15%
          tr
            td 40000
            td ∞
            td 0.2%
      p * Все расчеты в рамках накопительной системы осуществляются исключительно в долларах США.
block sidebar
  include ./includes/balance