extends ./layouts/main.pug
block content
  .content
    h1.text.text_type-align-center.text_type-margin-bottom-medium Личный кабинет
    h4.text.text_type-align-left.text_type-margin-bottom-medium Сменить пароль
    if message
      .alert.alert-info=message
    form(method='post')
      .input
        .input__box
          input(type='password' name='password' placeholder="Текущий пароль" required)
      br
      .input
        .input__box
          input(type='password' name='new' placeholder="Новый пароль" required)
      
      br
      .input
        .input__box
          input(type='password' name='retry' placeholder="Новый пароль еще раз" required)
      br
      button.button Сохранить
block sidebar
  include ./includes/balance