extends ./layouts/main.pug
block content
  .content.requisites
    h1.text.text_type-align-center.text_type-margin-bottom-medium Личный кабинет
    h4.text.text_type-align-left.text_type-margin-bottom-medium Мои реквизиты
    .table-wrapper
      table.table.table_type-1
        tr
          th Валюта
          th Счет
          th
        if !userRequisites || userRequisites.length == 0
          tr
            td(colspan='3') Нет добавленных реквизитов
        else
          each userRequisite in userRequisites
            tr
              td.requisites__wallet-title
                img.requisites__wallet-icon(src='/i/' + userRequisite.wallet.icon)
                | #{userRequisite.wallet.title}      
              td=userRequisite.values[0]
              td
                form(method='post' action='/account/requisites/remove')
                  input(type='hidden' name='id' value=userRequisite.id)
                  button.icon-cross.requisites__button-delete
    .requisites__button-add
      .button(data-toggle='modal' data-target='#modal-add-requisite') Добавить
  include ./includes/modals/addrequisite
block sidebar
  include ./includes/balance